.inputArea {
  text-align: left;
}

.bs {
  column-gap: 20px;
  display: grid;
  grid-template-areas:
    "header header"
    "assets liabilities"
    "assets equity";
  grid-template-rows: auto auto;

  & .header {
    grid-area: header;
  }

  & .assetsArea {
    grid-area: assets;
  }

  & .liabilitiesArea {
    grid-area: liabilities;
  }

  & .equityArea {
    grid-area: equity;
  }
}

.labelText {
  display: inline-block;
  width: 140px;
}
